apispec==6.0.2
async-timeout==4.0.2
click==8.1.3
colorama==0.4.5
Deprecated==1.2.13
distlib==0.3.6
filelock==3.8.0
Flask==2.2.2
flask-smorest==0.40.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
marshmallow==3.19.0
names==0.3.0
packaging==21.3
platformdirs==2.5.2
pyparsing==3.0.9
redis==4.3.4
virtualenv==20.16.5
webargs==8.2.0
Werkzeug==2.2.2
wrapt==1.14.1
